<%- include("templates/header", {titulo:"Contactanos"}) %>

<div class="alert alert-info">Página de contacto</div>

<form action="/otro" method="POST">
    <label for="">Nombre</label>
    <input type="text" name="nombre" class="form-control mb-3">

    <label for="">Edad</label>
    <input type="text" name="edad" class="form-control mb-3">

    <button type="submit" class="btn btn-success">Enviar</button>
</form>

<%- include("templates/footer") %>
